html, body {margin: 0; height: 100%; overflow: hidden}

main {
  text-align: center;
}

button {
  margin-top: 20px;
  background-color: #2D8CFF;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background-color: #2681F2;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  position: relative;
}

#meetingSDKElement {
  top: 0 !important;
  left: 0 !important;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%; /* width of speaker and ribbon view */
  position: absolute;
}