<main>
  <h1>Zoom Meeting SDK Sample Angular</h1>
  <div>
    <h3>Meeting ID</h3>
    <input type="text" id="meeting" name="meeting" #meeting />
    <br />
    <h3>Password</h3>
    <input type="text" id="password" name="password" #password />
    <br />
    <button (click)="hostMeeting(meeting.value, password.value)">Host Meeting</button>
    <br />
    <button (click)="joinMeeting(meeting.value, password.value)">Join Meeting</button>
    <br />
    <button (click)="leaveMeeting()">Leave Meeting</button>
  </div>
  <div id="meetingSDKElement"></div>
  <div id="meetingSDKChatElement"></div>
</main>
